*.log
tmp
.idea
.storybook-out
env-*.txt
packages/build/cra
packages/build/test/tmp
packages/*/dist
packages/*/.rpt2_cache
packages/*/LICENSE
packages/*/.npmignore
# local runs
test-report.xml
# ci runs
test-results
/build
**/__generated__/*.json
.eslintcache
tsconfig.tsbuildinfo

# yarn zero install enabled
.pnp.*
.yarn/*
!.yarn/cache
!.yarn/unplugged
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions


node_modules
